name: Run Login Tests
on:
  push:
    branches: [main]
  pull_request:

jobs:
  cypress-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: npx cypress run
        continue-on-error: true   # để step upload vẫn chạy dù test fail

      - name: Upload Cypress screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload Cypress videos
        uses: actions/upload-artifact@v4
        if: success() || failure()   # thêm dòng này để luôn chạy dù pass hay fail
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: warn     # thêm dòng này để không lỗi khi chưa có video
